{##
 # /views/output/xml/item.twig
 #}
 <page>
    <title>{{ title }}</title>
    <revision>
      <timestamp>{{ timestamp }}</timestamp>
      <contributor>
        <username>Daynos de Nory</username>
      </contributor>
      <comment>Import</comment>
      <text xml:space="preserve">{% verbatim %}
{{Landmark Item}}
{{Landmark Item Complement (intro)}}
{{Landmark Item Complement (top)}}

== Notes de version ==
{| class="wikitable"
|-
! Date !! Modification apportée !! Ancienne valeur
{% endverbatim %}
{% for line in item.history %}
| {{ line.date }} || {{ line.new }} || {{ line.old }}
{%- endfor -%}
{% verbatim %}
|}

{{Landmark Item Complement (bottom)}}
{% endverbatim %}
        </text>
      <model>wikitext</model>
      <format>text/x-wiki</format>
    </revision>
  </page>