{##
 # /views/output/xml/itemData.twig
 #}
 <page>
    <title>{{ title }}</title>
    <revision>
      <timestamp>{{ timestamp }}</timestamp>
      <contributor>
        <username>Daynos de Nory</username>
      </contributor>
      <comment>Import</comment>
      <text xml:space="preserve">{{ '{{' }}Landmark Item Data
{% for property, value in itemData %}
|{{property}}={{value}}
{%- endfor -%}
{% verbatim %}
}}
}}&lt;noinclude&gt;{{Article principal|{{#var:id}}}} [[Catégorie:Landmark Item Data]]&lt;/noinclude&gt;
{% endverbatim %}
        </text>
      <model>wikitext</model>
      <format>text/x-wiki</format>
    </revision>
  </page>